@font-face {
    font-family: "ArtySignature";
    src: url("../fonts/Arty Signature.eot");
    src: url("../fonts/Arty Signature.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Arty Signature.woff2") format("woff2"),
         url("../fonts/Arty Signature.woff") format("woff"),
         url("../fonts/Arty Signature.ttf") format("ttf"),
         url("../fonts/Arty Signature.svg#ArtySignature") format("svg");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Europa-Bold";
    src: url("../fonts/europa-bold-webfont.eot");
    src: url("../fonts/europa-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/europa-bold-webfont.woff2") format("woff2"),
         url("../fonts/europa-bold-webfont.woff") format("woff"),
         url("../fonts/europa-bold-webfont.ttf") format("ttf"),
         url("../fonts/europa-bold-webfont.svg#Europa-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Europa-BoldItalic";
    src: url("../fonts/europa-bolditalic-webfont.eot");
    src: url("../fonts/europa-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/europa-bolditalic-webfont.woff2") format("woff2"),
         url("../fonts/europa-bolditalic-webfont.woff") format("woff"),
         url("../fonts/europa-bolditalic-webfont.ttf") format("ttf"),
         url("../fonts/europa-bolditalic-webfont.svg#Europa-BoldItalic") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Europa-Light";
    src: url("../fonts/europa-light-webfont.eot");
    src: url("../fonts/europa-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/europa-light-webfont.woff2") format("woff2"),
         url("../fonts/europa-light-webfont.woff") format("woff"),
         url("../fonts/europa-light-webfont.ttf") format("ttf"),
         url("../fonts/europa-light-webfont.svg#Europa-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Europa-LightItalic";
    src: url("../fonts/europa-lightitalic-webfont.eot");
    src: url("../fonts/europa-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/europa-lightitalic-webfont.woff2") format("woff2"),
         url("../fonts/europa-lightitalic-webfont.woff") format("woff"),
         url("../fonts/europa-lightitalic-webfont.ttf") format("ttf"),
         url("../fonts/europa-lightitalic-webfont.svg#Europa-LightItalic") format("svg");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Europa-Regular";
    src: url("../fonts/europa-regular-webfont.eot");
    src: url("../fonts/europa-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/europa-regular-webfont.woff2") format("woff2"),
         url("../fonts/europa-regular-webfont.woff") format("woff"),
         url("../fonts/europa-regular-webfont.ttf") format("ttf"),
         url("../fonts/europa-regular-webfont.svg#Europa-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Europa-Italic";
    src: url("../fonts/europa-regularitalic-webfont.eot");
    src: url("../fonts/europa-regularitalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/europa-regularitalic-webfont.woff2") format("woff2"),
         url("../fonts/europa-regularitalic-webfont.woff") format("woff"),
         url("../fonts/europa-regularitalic-webfont.ttf") format("ttf"),
         url("../fonts/europa-regularitalic-webfont.svg#Europa-Italic") format("svg");
    font-style: normal;
    font-weight: 300;
}
