@import "fonts.scss";
@import "_normalize.scss";
@import "var.scss";
@import "colors.scss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button, a {
  padding: 0;
  outline: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  background: #fafafa;
  font-family: "Europa-Regular", sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.corporate {
  flex: 1 0 auto;
}

.custom-button-orange {
  width: 274px;
  height: 70px;
  border-radius: 35px;
  background-image: linear-gradient(20deg, $pumpkin-orange, rgb(251, 206, 89));
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: $white;
  display: flex;
  @include fcenter;
  line-height: 1;

  &:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
}

.text-sky {
  color: $dodger-blue;
}

.custom-bcg-title {
  text-align: center;
  margin: 70px 0;

  span {
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: $black-three;
    line-height: 1;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 72px;
      height: 4px;
      background-color: $dodger-blue;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/*** Head ***/

.corporate {
  &__head {
    max-width: 1150px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 39%,rgba(255,255,255,0) 100%);
    margin: auto;
    padding: 0 15px;
    min-height: 80px;
    position: relative;
    z-index: 1;

    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
    }

    &__nav {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_item {
        color: $black-three;
        display: inline-block;

        &:hover {
          color: $dodger-blue;
        }
      }

      &_btn {
        width: 121px;
        height: 34px;
        border-radius: 17px;
        background-image: linear-gradient(45deg, $dodger-blue, rgb(57, 238, 255));
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: $white;
        text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);

        i {
          display: flex;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: $white;
          box-shadow: 0px 2px 7px 0 rgba(0, 0, 0, 0.23);
          margin: auto 17px auto 6px;
          @include fcenter;
        }

        &:active {
          box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        }
      }
    }
  }
}

/*** Bcg-1 ***/

.corporate {
  &__bcg-1 {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 850px;

    &:before {
      content: '';
      @include abs;
      position: fixed;
      background: url(../images/marble.png) no-repeat right bottom;
      z-index: -1;
    }

    &_vegies {
      @include abs;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      @include abs;

      &_title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: $black-three;
        margin: 0 auto 40px;
      }

      &_subtitle {
        font-size: 22px;
        text-align: center;
        color: $battleship-grey;
        margin-bottom: 50px;
      }

      .custom-button-orange {
        min-height: 70px;
      }
    }
  }
}

/*** Bcg-2 ***/

.corporate {
  &__bcg-2 {
    background-color: $white;
    position: relative;
    z-index: 1;

    &_brands {
      padding: 45px 15px;
      background-color: $pale-grey;
      display: flex;
      @include fcenter;
    }

    &__products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      max-width: 1700px;
      width: 100%;
      margin: auto;
      padding-bottom: 100px;

      &_item {
        width: 26%;
        display: flex;
        flex-direction: column;
        @include fcenter;
      }

      &_icon {
        height: 115px;
      }

      &_title {
        font-size: 30px;
        font-weight: bold;
        color: $black-three;
        text-align: center;
        min-height: 55px;
        margin: 0;
      }

      &_text {
        text-align: center;
        font-size: 22px;
        color: $brownish-grey-two;
      }
    }

    &__started {
      background-image: radial-gradient(circle at 0 0, $pale-blue, rgb(255, 255, 255));
      padding: 40px 15px 0;

      &_inner {
        display: flex;
        @include fcenter;
        max-width: 95%;
        margin-left: auto;
      }

      &_info {
        max-width: 550px;
        width: 100%;
      }

      &_media {
        width: 60%;
      }

      &_info-title {
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        color: $black-three;
        margin-bottom: 70px;
      }

      &_item {
        display: flex;

        & + & {
          margin-top: 90px;
        }

        &_left {
          width: 110px;
        }

        &_right {
          width: calc(100% - 110px);
        }

        &_title {
          font-size: 26px;
          font-weight: bold;
          text-align: left;
          color: $black-three;
          margin-bottom: 15px;
        }

        &_text {
          font-size: 24px;
          line-height: 1.52;
          text-align: left;
          color: $slate;
          font-weight: 300;
        }
      }

      &_images {
        position: relative;
        margin-top: -100px;
      }

      &_over {
        @include abs;
        @include fcenter;
        display: flex;
      }

      &_phone {
        position: relative;
        display: block;

        .phone-screen {
          max-width: 80%;
          position: absolute;
          top: 10%;
          left: 9.5%;
        }
      }
    }
  }
}

/*** Bcg-3 ***/

.corporate {
  &__bcg-3 {
    background-color: $white;
    position: relative;
    z-index: 1;

    &_title {
      margin: -15px auto 20px;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: center;
      color: $black-three;
    }

    &_subtitle {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: $warm-grey-nine;
    }

    &_img-list {
      overflow-x: auto;
      margin: 80px auto 0;
      img {
        min-width: 1200px;
      }
    }

    &__sky {
      background-image: linear-gradient(45deg, $dodger-blue, $bright-cyan);

      &_inner {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
      }

      &_item {
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
      }

      &_icon {
        height: 135px;
      }

      &_title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: $white;
        min-height: 50px;
      }

      &_text {
        font-size: 19px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: center;
        color: $white;
      }

      &_divider {
        width: 2px;
        height: 298px;
        background-color: $white;
        margin: auto;
      }
    }
  }
}

/*** Bcg-4 ***/

.corporate {
  &__bcg-4 {
    position: relative;
    z-index: 1;

    &__grid {
      display: flex;
      flex-wrap: wrap;

      & > * {
        width: 50%;
      }

      &_clip {
        display: flex;
        @include fcenter;
        padding: 80px 15px;
      }

      &_fill {
        background-color: $white;
        display: flex;
        flex-direction: column;
        @include fcenter;
      }

      &_clip-2 {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: none;
        }
      }
    }

    &__info {
      max-width: 75%;

      &_title {
        font-size: 40px;
        font-weight: bold;
        line-height: 1.1;
        letter-spacing: normal;
        text-align: left;
        color: $black-three;
        margin-bottom: 20px;
      }

      &_text {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: $warm-grey-nine;
      }

      .custom-button-orange {
        margin-top: 30px;
      }
    }
  }
}

.polaroid-images {
  max-width: 635px;
  width: 100%;
  margin: auto;
  position: relative;

  &__center-item {
    display: block;
    width: 100%;
    max-width: 72%;
    margin: auto;
    position: relative;
    height: 30vw;
    min-height: 400px;
    max-height: 500px;
  }

  &__item {
    background: #e7e8ea;
    padding: 25px 25px 105px;
    text-align: center;
    text-decoration: none;
    transition: all .15s linear;
    z-index: 3;
    position:relative;
    box-shadow: 0px 2px 6px 0 $black-14;
    display: block;
    @include abs;

    .polaroid-images__item_photo img {
      opacity: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: '';
      position: absolute;
      top: 25px;
      left: 25px;
      right: 25px;
      bottom: 105px;
      background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
      z-index: -1;
    }

    &:after {
      content: attr(title);
      font-family: ArtySignature;
      font-size: 80px;
      color: $black-three;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 105px;
      display: flex;
      @include fcenter;
      opacity: 0;
    }

    &.fake-item {
      position: absolute;
      left: 30px;
      top: 25px;
      bottom: 35px;
      transform: rotate(-8deg);
      z-index: 1;
      width: 100%;
      max-width: 62%;

      & + & {
        top: 30px;
        right: 30px;
        left: auto;
        bottom: 40px;
        transform: rotate(5deg);
      }
    }

    &.is-active {
      z-index: 4;
      .polaroid-images__item_photo img {
        opacity: 1;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  &_arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    color: #fff;
    background: #666;
    border: none;
    z-index: 10;

    &.arrow-left {
      left: 0;
    }

    &.arrow-right {
      right: 0;
    }
  }
}

.corporate {
  &__footer {
    position: relative;
    z-index: 1;
    background: $white;
  }
}
