@font-face {
    font-family: "ArtySignature";
    src: url("Arty Signature.eot");
    src: url("Arty Signature.eot?#iefix") format("embedded-opentype"),
         url("Arty Signature.woff2") format("woff2"),
         url("Arty Signature.woff") format("woff"),
         url("Arty Signature.ttf") format("ttf"),
         url("Arty Signature.svg#ArtySignature") format("svg");
    font-style: normal;
    font-weight: 300;
}