@font-face {
    font-family: "Europa-Light";
    src: url("europa-light-webfont.eot");
    src: url("europa-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("europa-light-webfont.woff2") format("woff2"),
         url("europa-light-webfont.woff") format("woff"),
         url("europa-light-webfont.ttf") format("ttf"),
         url("europa-light-webfont.svg#Europa-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}